<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>一男子在闹市骑摩托撞昏了一个陌生的老汉！ 男子惊吓的不知所措！围观群众越来越多！突然，该男抱住老汉，声泪俱下的喊道：“爹，你等着我，我这就去给你找医生！”说后，就跑掉了。。。老汉挣扎着愤怒的喊道：“给老子回来！”众人纷纷感慨：“这儿子当的真孝顺！” </string>
	<string>一天上课老师要求同学写四字短语，每个字的偏旁部手必须一样。小红写的是“魑魅魍魉”，小刚写的是“江河湖海”，小明思索半响迅速写下：“没沐浴液，沒法洗澡，涂润滑油”

“小明你给我滚出去”老师气愤的说

小明冷静的说：老师我按照你的要求写的，我又没写错。”

......我竟无言以对</string>
	<string>你们是否注意过每条街道上的路灯杆上都竖着喷有几个数子，可能百分之九十的人都不知,道那是干嘛用的，那是当你遇到危险，需要报110，而你又不知道你在那个具体位置，那你就给警察报你所在这根路灯的编码，110就能很快找到你。

顶上去，让更多人知道，或许你也会帮了你自己</string>
	<string>今天接到一骗子电话，开口就是猜猜我是谁，我:哦！伊布拉西莫维奇吧！骗子:额，那个，再想想。我:那肯定是帕帕斯塔索普洛斯咯。骗子:。。。不是。我:难道是布拉什奇克洛夫斯基？沉默一会后，骗子把电话挂了</string>
	<string>夜深人静，窗帘发牢骚：“我天天风吹日晒的，被子哥，你好幸福，天天搂着女主人睡觉。” 被子哥：“幸福？你知道一个屁多久才会散吗？”</string>
	<string>小胖和他哥去吃自助烤肉，正吃呢，他哥看着小胖幽幽的说一句：“都20了阿…… ” 小胖当时也感慨：“可不咋的，时间过的真快，我还老能想起来咱两个小时候的事呢。” 他哥说：“我是说，你都吃20盘了啊! ”</string>
	<string>记得小时候上小学那会，上课尿急憋不住了，同桌偷偷对我说，先尿一点，等地干了，再尿，我就听他的了，没想到一放没刹住，就这样我成了学校名人了</string>
	<string>终于等到新婚之夜了。白天累了一天，也顾不及了。宾朋走了之后。我急不可耐的就想和当教师的老婆亲热，没想到。老婆一点儿也不着急，慢条斯理的问我说：“你为什么要娶我这当老师的？”我说：必须说实话吗？当然啊。她说。那好吧，因为啥我是学渣，总挨老师的批评。所以我就从小立志——就想把老师摁在床上。使劲报复她。。。。</string>
	<string>小学的时候，班里有个男的捣乱,老师叫他出去罚站，然后老师问了句“有没有人要跟他一样出去罚站的”然后我听成了“有没有人想要让他出去罚站的”于是我把手举得老高了，众目睽睽之下 老师拉着我的衣服也让我滚出去 。结果那个男的一直把我当成好兄弟，直到如今！！</string>
	<string>小明知道800元可以买爱疯6就别人的卡打了800后来他知道被骗了，于是找警察叔叔报案，警察叔叔说：被骗的钱不到2000不能立案。小明：理解。于是瞬速去了银行还打了1200。对自己说：我太TM智慧了</string>
	<string>以前没有裸睡的习惯，一月前偶然裸睡，便无法自拔，无裸不睡.一日朋友来我家玩，只好穿裤衩睡，到半夜也睡不着.只好悄悄爬起来，刚把裤衩叠好放床头.背后传来朋友颤抖的声音：你想对我干什么？？？</string>
	<string>刚刚听电台问你想要的年终奖是什么？我好像告诉她，我想要的年终奖就是给我一个女朋友，可以被针扎不会跑气的女朋友！</string>
	<string>同事说：其实我并不胖，只是脸胖点，肚子胖一点，大腿胖一点，其它没什么。另一个同事默默说：请问胖子除了这几个地方胖之外，还能胖什么地方？</string>
	<string>坐公交遇到一老头(都是站着的)，老头笑着对我说“小伙子，你叔是李刚吗？”我一愣，回答说“不是啊！”老头又说到“那你家有亲戚叫李刚吗？”我又一愣，“没有啊！”老头问了最后一句话“那你姓李吗？”我:“我不姓李”，老头脸色突然一变，“那你他吗踩我脚。</string>
	<string>甲：哥们，理科妹纸再淑女，一旦做起题目来，就会彻底暴露自己的身份。乙：为毛？甲：她们会习惯性地把前额的头发往上捋，露出大大的额头。乙：这有毛关系？甲：因为CPU在高速运行时，需要良好的散热！</string>
</array>
</plist>
